:root {
    --border: 12px solid white;
    --border-radius:30px;
    --font-family: 'Press Start 2P', monospace;
    --font-size: 16px;
    --color: white;
    --timerHeight:35px;
    --buttonWidth:250px;
    --margin: 40px;
}
body {
    font-family: var(--font-family);
    background: linear-gradient(
    0deg,
    rgb(2, 22, 57) 0%,
    rgb(93, 11, 7) 100%
    );
    background-repeat: no-repeat;
    color: var(--color);
    height:100vh;
    margin:20px;
}
.game-instructions-timer-button {
    background-color:rgb(17, 15, 15);
    border:var(--border);
    border-radius: var(--border-radius);
}
#grid-container{
    display:grid;
    grid-template-columns: repeat(3,minmax(250px, 400px));
    grid-gap:20px;
    justify-items:center;
    align-items:center;
    margin:var(--margin);
    max-width:1400px;
}
main {
    grid-column:1 / span 2;
    grid-row:2/span 3;
    margin: var(--margin)
}
#game {
    width: 100%;
}
#game-title {
    grid-column: 1/span 2;
    justify-self:center;
    font-size: calc((var(--font-size) * 2))
}
#timer {
    grid-column:3;
    grid-row:1;
    justify-self:center;
    height:var(--timerHeight);
    width:var(--buttonWidth);
    font-size:var(--font-size);
    display:flex;
    justify-content:center;
    align-items:center;
}
#instructions {
    grid-column:3;
    grid-row:2/span 3;
    align-self:stretch;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    width:var(--buttonWidth);
    line-height:40px;
}
h3 {
    margin: 0 10px;
    text-align:center;
    font-size:calc(var(--font-size)* .85)
}
#button {
    grid-column:1 / span 2;
    grid-row:6;
    height:calc(var(--timerHeight) * 2);
    width:var(--buttonWidth);
    color:var(--color);
    font-family: var(--font-family);
}
#typewriter-container {
    grid-column:1/ span 2;
    grid-row:5;
}
#typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.2rem;
    animation: 
        typing 2s steps(50, end) forwards,
        blink 1s infinite;    
    }
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }
 
