:root {
    --border: 12px solid white;
    --border-radius:30px;
    --font-family: 'Press Start 2P', monospace;
    --font-size: 16px;
    --color: white;
}
body {
    font-family: var(--font-family);
    background: linear-gradient(
    0deg,
    rgb(2, 22, 57) 0%,
    rgb(93, 11, 7) 100%
    );
    color: var(--color);
    margin:20px;
}
.game-instructions-timer-button {
    background-color:black;
    border:var(--border);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
}
#grid-container{
    display:grid;
    grid-template-columns: repeat(3,minmax(fit-content, 1fr));
    justify-items:center;
    align-items:center;
}
main {
    grid-column:2;
    grid-row:2/span 3;
}
#instructions {
    grid-column:1;
    grid-row:3/span 2;
    align-self:end;
    height:600px;
    width:300px;
    line-height:40px;
}
#timer {
    grid-column:1;
    grid-row:2;
    align-self:start;
    height:50px;
    width:300px;
}
#button {
    grid-column:2;
    grid-row:6;
    height:75px;
    width:200px;
    color:var(--color);
    font-family: var(--font-family)
}
#game-title {
    grid-column: 2/ span 1;
    font-size: 40px;
}
#typewriter {
    grid-column:2;
    grid-row:5;
    margin:40px;
    max-width: min-content;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.2rem;
    animation: 
        typing 8s steps(80, end) forwards,
        blink 8s infinite;    
    }
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }
    
