body{
    margin: 0;
}
#game {
    background-color:rgb(0, 0, 0) ;
    
}
#info-container{
    text-align:center;
    margin-top:60px;
}
#top {
    background-color: rgb(19, 20, 20);
}
#btm-left {
    background-color: aqua;
}
#btm-right {
    background-color: aqua;
}
aside {
    
    background-color: aqua;
}